button {
  border: none;
  background-color: rgb(88, 88, 88);
  outline: 2px solid rgb(95, 95, 95);
  font-size: 3.5rem;
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
}

button:hover,
.btn__0:hover,
.btn__1:hover,
.btn__2:hover,
.btn__3:hover {
  background-color: rgb(119, 119, 119);
}

.btn__0,
.btn__1,
.btn__2,
.btn__3 {
  background-color: black;
  outline-color: rgb(32, 32, 32);
  font-size: 3rem;
}

.btn__16 {
  grid-column: 1 / 3;
}

.btn__15 {
  grid-row: 4 / 6;
  grid-column: 4 / 5;
  background-color: rgb(240, 74, 45);
  outline-color: rgb(175, 55, 33);
}

.btn__15:hover {
  background-color: rgb(224, 52, 30);
}
