.calculator__screen {
  height: 130px;
  width: 100%;
  padding: 0 10px;
  margin-bottom: 1.5rem;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;
  box-sizing: border-box;
  background-color: rgb(149, 167, 116);
}
