:root,
* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  font-weight: 400;
}

body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, rgb(233, 160, 176), rgb(204, 206, 178));
}

button {
  border: none;
}
